html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main {
  padding: 5rem 0;
}

button {
  background: #4A90E2;
  border: none;
  color: #fff;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  height: 32px;
  padding: 4px 15px;
  cursor: pointer;
  min-width: 100px;
}

button:hover {
  background: #76B5FF;
}

button:active {
  background: #235896;
}

.grid-props {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 16px 32px;
  background: #f1f1f1;
  border-radius: 5px;
  margin-top:32px;
  margin-bottom:32px;
}

.grid {
  display: flex;
  justify-content: center;
}

label {
  color: #606060;
  font-weight: 300;
  font-size: 15px;
}

.form-item label {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
  display: block;
}

.ml-2 {
  margin-left: 16px;
}

.mr-2 {
  margin-right: 16px;
}

img.logo {
  width: 50%;
}

input {
  text-align: center;
  border: 1px solid #dadada;
  border-radius: 5px;
  height: 32px;
  padding: 4px 15px;
  width: 70px;
  outline:none;
  box-shadow: 0px 3px 10px -5px rgb(50 50 50 / 56%);
}

table {
  border: 1px solid #dcdcdc;
  border-collapse: collapse;
}

td {
  border: 1px solid #dcdcdc;
  background: #f1f1f1;
  min-width: 50px;
  min-height: 50px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}

td:hover {
  background: #f8f8f8;
}

td.cleared {
  background: #fff;
}

td.start {
  background: #7ED321;
  border: 1px solid #7ED321;
}

td.end {
  background: #639530;
  border: 1px solid #639530;
}

td.shortest {
  background: #F5A623;
  border: 1px solid #F5A623;
}

.operand {
  color: #606060;
  font-weight: 300;
  font-size: 11px;
  vertical-align: middle;
    height: 35px;
    line-height: 35px;
    margin-bottom: 0;
    display: inline-block;
}